*{
    Padding:0px;
    Margin:0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body{
background:whitesmoke;
}
.nav{
    font-size: 20px;
    padding:15px;
    color:#FFFCF7;
    background: #A1B5D8;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0,0);
}
.pages{
    background:#A1B5D8;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0,0);
    text-align: center

}
.pages a{
    background: #FFFCF7;
    padding: 14px 25px;
    color:#A1B5D8;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition-duration: 0.4s;
    cursor: pointer;
    font-size: 16px;
    font-size:10px;
    margin: 6px;
}
.pages a:hover{
    background: #E4F0D0;
}
.title{
    color:#C2D8B9;
}
.text{
    color:#E4F0D0;
}
.gallery{
padding:6% 12%;
background: #738290;
}
.article{
    margin-top:7px;
    margin-bottom: 7px;
    margin-left:5%;
    background: #A1B5D8;
    padding:20px;
    transition-duration: 0.4s;
    max-width: 60%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0,0);
}
.article:hover{
    background: #738290;
    cursor: pointer;
}
.articleA{
    padding: 50px;
    margin:1% 10%;
    background: #A1B5D8;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0,0);

}
a{
    text-decoration: none;
}
a:visited{
    color:#687581;
}
.footer{
    background: #A1B5D8;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0,0);
}
.aside{
    margin:10px 50px;
    float:right;
}