*{
    Padding:0px;
    Margin:0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    background:whitesmoke;
}
.bodyb{
    background:rgb(32, 32, 32);
}
.nav{
    font-size: 20px;
    padding:15px;
    color: #FFFCF7;
    background: #A1B5D8;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0,0);
}
.pages{
    background:#A1B5D8;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0,0);
    text-align: center

}
.pages a{
    background: #FFFCF7;
    padding: 14px 25px;
    color:#A1B5D8;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition-duration: 0.4s;
    cursor: pointer;
    font-size: 16px;
    font-size:10px;
    margin: 6px;
}
.pages a:hover{
    background: #E4F0D0;
}
.title{
    color:#C2D8B9;
}
.text{
    color:#E4F0D0;
}
.gallery{
    padding:6% 12%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0,0);
    background: #738290;
}
.article{
    margin-top:7px;
    margin-bottom: 7px;
    margin-left:5%;
    background: #A1B5D8;
    padding:20px;
    transition-duration: 0.4s;
    max-width: 60%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0,0);
}
.article:hover{
    background: #738290;
    cursor: pointer;
}
.articleA{
    padding: 50px;
    margin:1% 10%;
    color:#E4F0D0;
    background: #738290;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0,0);

}
a{
    text-decoration: none;
}
a:visited{
    color:#687581;
}
.footer{
    background: #A1B5D8;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0,0);
}
.aside{
    margin:10px 50px;
    float:right;
}
.articleA img{
    width: 100%
}
button{
    position: absolute;
    top: 5px;
    right:80px;
    background-color: lightgray;
    border: none;
    color: black;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.inputs{
    width: 40%;
    height: 30%;
    word-wrap: break-word 2px;
}
.inputss{
    width: 100%;
    height: 70%;
    word-wrap: break-word 2px;
}
.area{
    cursor:default;
    color: transparent;
    padding:15px;
}
#classN{
    color: rgb(255, 203, 107) 
}
#utility{
    color: rgb(137, 221, 255)F 
}
#functions{
    color: rgb(136, 170, 255)
}
#this>{
    color: rgb(255, 75, 83)
}
#keys{
    color: rgb(199, 146, 234)
}
#background{
    background: #212121
}
